{% extends 'base.html' %}

{% block content %}
{% set breadcrumbs = [{'title': _('Инвесторам'), 'url': url('core:investors')}, {'title': _('ТЭО проекта строительства подъездного жд-пути'), 'url': None}] %}
{% include 'components/breadcrumbs.html' %}

<section class="page-hero page-hero--dark" style="background-image: url('{{ static('img/hero-bg.jpg') }}')">
  <div class="page-hero__overlay"></div>
  <div class="container">
    <h1 class="page-hero__title">{{ _('ТЭО проекта строительства подъездного жд-пути') }}</h1>
  </div>
</section>

<section class="section investor-page">
  <div class="container">
    <article class="rich-text investor-page__content">
      {# ── Вставьте контент страницы сюда ── #}
      <p>Чтобы предварительно оценить степень привлекательности строительства подъездного ж/д пути для вашего предприятия, достаточно произвести сравнительно простые расчеты. С этой целью нужно взять годовой объем отправления и получения грузов (с разбивкой по родам грузов) и определить тип вагонов, объем разовой партии и примерный километраж для перевозки каждого вида грузов. На основании этих данных легко можно будет рассчитать приблизительную стоимость грузоперевозок автомобильным и железнодорожным транспортом.</p>

      <p>Годовая разница в расходах на перевозки даст вам в первом приближении ответ на вопрос о целесообразности строительства подъездного железнодорожного пути. Если она окажется существенной, то можно будет продолжить расчет и оценить стоимость строительства пути (опять же в первом приближении). За таким расчетом лучше обратиться в специализированную компанию, предварительно подготовив информацию об объекте по форме заявки на новое строительство подъездного ж/д пути.</p>

      <p>Сравнение произведенных расчетов по строительству с годовой экономией от ж/д перевозок покажет вам  примерный срок окупаемости проекта. На основании этих данных можно будет принять решение о составлении подробного ТЭО проекта строительства подъездного ж/д пути, либо о его нецелесообразности. Помочь Вам в предварительных расчетах и в составлении подробного ТЭО могут специалисты нашей компании.</p>
    </article>
  </div>
</section>
{% endblock %}
