{% extends 'base.html' %}

{% block content %}
{% set breadcrumbs = [{'title': _('Инвесторам'), 'url': url('core:investors')}, {'title': _('Выбор площадки под строительство объекта'), 'url': None}] %}
{% include 'components/breadcrumbs.html' %}

<section class="page-hero page-hero--dark" style="background-image: url('{{ static('img/hero-bg.jpg') }}')">
  <div class="page-hero__overlay"></div>
  <div class="container">
    <h1 class="page-hero__title">{{ _('Выбор площадки под строительство объекта') }}</h1>
    <p class="page-hero__sub">{{ _('Что проверить, прежде чем покупать участок под подъездной железнодорожный путь') }}</p>
  </div>
</section>

<section class="section investor-page">
  <div class="container">
    <article class="rich-text investor-page__content">

      <p class="investor-page__lead">Если Вы планируете строительство подъездного ж\д пути к Вашему объекту, то при выборе площадки под его строительство следует выяснить, возможно ли будет построить на данном участке подъездной ж\д путь и присоединить его к Железной дороге в принципе и сколько это может стоить. Для этого нужно знать следующее:</p>

      <ol>
        <li>Врезка возможна только в станционные пути (не главного хода!), либо ж/д пути необщего пользования (подъездные пути предприятий).</li>
        <li>Если станционные или подъездные пути имеются на доступном расстоянии от участка, то требуется определение технической возможности присоединения к ним дополнительного подъездного ж/д пути. Этот вопрос обсуждается с начальником станции, в ведении которой находятся вышеуказанные пути. Также с начальником станции обсуждается вопрос наличия технической возможности станции по переработке планируемого количества вагонов, поскольку в случае отсутствия таковой потребуется произвести реконструкцию станции (за счет заказчика).</li>
        <li>Чем дальше участок будет находиться от места врезки, тем дороже обойдется строительство подъездного ж/д пути. Оптимальный вариант: участок граничит с вышеуказанными путями или находится от них на расстоянии в пределах одного километра. В случае большего расстояния необходимо составить ТЭО, поскольку строительство подъездного пути может оказаться сопоставимым со стоимостью строительства самого предприятия.</li>
        <li>На соединительную ветвь от станции до участка так же необходим землеотвод. При этом полоса отвода под ж/д ветку зависит от радиуса кривизны ж/д пути, наличия выемки или насыпи. Минимальная ширина отвода составляет 12м (если путь прямой и пролегает по «нулевому» участку, т.е. с отсутствием насыпи или выемок).</li>
        <li>При прохождении железнодорожной ветви через несколько участков с разными владельцами необходима проверка на возможность выкупа земли.</li>
        <li>Расположение строящихся путей в черте города ведет за собой вынос, усиление и переустройство значительного количества коммуникаций, что удорожает строительство.</li>
        <li>Также значительно удорожает строительство подъездного ж/д пути пересечение с оживленными автомагистралями в одном уровне. При необходимости пересечения дороги в разных уровнях стоимость ж/д пути возрастает в разы (участок для строительства не рекомендуется).</li>
        <li>Значительно удорожает строительство пересечение водных преград (рек, озер), большие перепады высот местности по трассе проектируемого пути.</li>
        <li>Менее значительно удорожает строительство пересечение с газовыми магистралями высокого давления, высоковольтными линиями электропередач.</li>
        <li>Располагать пути на площадке желательно параллельно станционным путям. Иное расположение ведет к появлению кривых малого радиуса, что увеличивает расходы по эксплуатации, а иногда приводит к невозможности строительства.</li>
      </ol>

      <p>Учесть вышеперечисленные и многие другие нюансы при выборе площадки под строительство объекта с подъездными ж/д путями Вам всегда помогут специалисты нашей компании. Главное — вовремя обратиться!</p>

    </article>
  </div>
</section>
{% endblock %}
